<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sistema Académico", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    @{
                        if ((Session["usuario"]) != null)
                        {
                            if (Session["nivel"].ToString() == "2")
                            {
                                <li>@Html.ActionLink("Mis Cursos", "MisCursos", "DocenteCurso")</li>
                            }
                            if ((Session["nivel"]).ToString() == "1" || (Session["nivel"]).ToString() == "2")
                            {
                                <li> @Html.ActionLink("Tu usuario", "Index", "Usuario") </li>
                            }
                            if ((Session["nivel"]).ToString() == "3")
                            {
                                <li>@Html.ActionLink("Planes", "Index", "Plan")</li>
                                <li>@Html.ActionLink("Curso", "Index", "Curso")</li>
                                <li>@Html.ActionLink("Comisiones", "Index", "Comision")</li>
                                <li>@Html.ActionLink("Especialidades", "Index", "Especialidad")</li>
                                <li>@Html.ActionLink("Materias", "Index", "Materia")</li>
                                <li>@Html.ActionLink("Usuarios", "Index", "Usuario")</li>
                            }
                            //if ((Session["nivel"]).ToString() == "1" || (Session["nivel"]).ToString() == "3")
                            if ((Session["nivel"]).ToString() == "1")
                            {

                                <li>@Html.ActionLink("Inscripciones", "Index", "Inscripcion")</li>
                            }

                            <li>@Html.ActionLink("Salir", "Logout", "Home")</li>
                        }
                    }

                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
