@model UI.WebFinal.Models.InscripcionModel

@{
    ViewBag.Title = "CargarNota";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />

<h2>Cargar Nota</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.HiddenFor(x => x.id_inscripcion)

    <div class="form-group">
        @Html.LabelFor(model => model.nota, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nota, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nota, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Condición</label>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.condicion, new SelectList(ViewBag.Condiciones,"Value","Text"), new { @class = "form-control" })

        </div>
    </div>

    @*<div class="form-group">
           <label class="control-label col-md-2">Plan</label>
           <div class="col-md-10 ">
               <select class="form-control">
                   <option value="1">Inscripto</option>
                   <option value="0">Libre</option>
                   <option value="3">Aprobado</option>
                   <option value="2">Regular</option>
               </select>
           </div>
       </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Volver a lista", "MisAlumnosCurso", new { id = (int)Session["id_curso"] })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
